<% flash.each do |msg| %>
<%= msg[1] %>
<% end %>

<head>
  <link rel="stylesheet" href="/main.css">
  <link rel="stylesheet" href="/bootstrap.min.css">
  <link rel="stylesheet" href="/bootstrap-theme.min.css">
</head>

<body>
  <!--navbar -->
  <nav class="navbar menu">
    <div class="container-fluid">
      <div class="navbar-header">
            <form>
              <button class="navbar-brand btn btn-link btn-inverse" type="submit" formaction="/main" formmethod="GET">nanoTwitter</button>
            </form>  
      </div>


              <!-- Can you connect this for me? -->
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/users/profile">Account</a></li>
          <li>
            <!-- log out form -->
            <form>
              <button class="btn btn-inverse" type="submit" formaction="/logout" formmethod="GET">Logout</button>
            </form>
          </li>
        </ul>
      
        <div class="nav nav-search">
          <!-- tweet search form -->       
          <form>
            <input type='search' name="tweet_search" placeholder='search' role="search" placeholder="Search Tweets" formaction="/tweet_search" formmethod="POST"> </i>
          </form>
          <button class="btn btn-primary" type="submit" formaction="/tweet_search" formmethod="POST" >Search</button>
        </div>

    </div>
  </nav>



  <h1> Who is being followed by @<%= user = User.find(userid).handle %>? </h1>
	<% @followees.each do |followee| %>
      <a href="/look?userid=<%=followee.id%>">@<%=followee.handle %></a>
      <br>
  <% end %>
		
  <br>
</body>
