<% flash.each do |msg| %>
<%= msg[1] %>
<% end %>

<head>
  <link rel="stylesheet" href="/main.css">
  <link rel="stylesheet" href="/menus.css">
  <link rel="stylesheet" href="/bootstrap.min.css">
  <link rel="stylesheet" href="/bootstrap-theme.min.css">
</head>

<body>
  <nav>
    <div id="main-navbar" class="container-fluid">
      <a class="navbar-brand" href="/main">nanoTwitter</a>

      <div class="nav navbar-nav right">
        <li><a href="/users/profile">Account </a></li>
        <li>
          <form class="navbar-form">
            <button class="btn btn-link" type="submit" formaction="/logout" formmethod="GET">Logout</button>
          </form>
        </li>
        <li>
          <form class="navbar-form" role="search">
              <input type="text" name="tweet_search"class="form-control" placeholder="Search Tweets!" formaction="/tweet_search" formethod="POST" role="search">
              <button type="submit" class="btn btn-default" formaction="/tweet_search" formmethod="POST" role="submit">Search</button>
          </form>
        </li>
      </div>
    </div>
  </nav>

  <h1> Who is following @<%= user = User.find(userid).handle %>? </h1>
	<% @followers.each do |follower| %>
      <a href="/look?userid=<%=follower.id%>">@<%=follower.handle %></a>
      <br>
  <% end %>
		
  <br>
</body>