<h1> Welcome To NanoTwitter</h1>

<br>

<form action="/login/" method= "POST">
Name:	<input type="text" name="username"> <br>
Password: <input type="text" name="password"> <br>
<input type="submit">
</form>

<br>


<form action="/signup" method= "GET">
	<input type="submit" Value="Sign Up">
</form>
