<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="/bootstrap.min.css">
	<link rel="stylesheet" href="/bootstrap-theme.min.css">
	<link rel="stylesheet" href="/main.css">
</head>

<br>
<br>

<body>
	<div class="container">
		<div class="jumbotron">
	   		<h2>Welcome to nanoTwitter</h2>      
	    	<p>Log into your account</p>
	    	<div class="">
				<form id="login-form" action="/login/" method= "POST">
					Name: <input type="text" name="username" placeholder="username"> <br>
					Password: <input type="password" name="password" class="password" placeholder="password"> <br>
					<input type="submit" class="btn btn-lg btn-primary">
				</form>
				<form id="signup-form" action="/signup" method= "GET">
					Don't have an account? 
					<br>
					<input type="submit" class="btn btn-info" value="Sign Up">
				</form>
			</div>
		</div>

	</div>
	<div class="content">
		<h3> Tweets By Everyone </h3>
		<% t = Tweet.all.reverse %>  
		<% t.each do |elem| %>
		<%= elem.text %>
		@<%=User.find(elem.user_id).handle %>
		<br>
		<% end %>
	</div>
</body>