<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="/bootstrap-rtl.min.css">
	<link rel="stylesheet" href="/bootstrap.min.css">
	<link rel="stylesheet" href="/bootstrap-theme.min.css">
	<link rel="stylesheet" href="/login.css">
	<link rel="stylesheet" href="/cards.css">
	<link href="/fonts">
	<script src="/js/bootstrap.js"></script>

		<!-- This is for the modal when you click on a name -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>

<body>
    <h3>Welcome To nanoTwitter</h3>
    <div class="container">    
        <div id="loginbox" style="margin-top:20px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            <div class="panel panel-info" >
                <div class="panel-heading">
                    <div class="panel-title">Sign In</div>

                <div style="padding-top:30px" class="panel-body" >
                    <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                            
                    <form id="login-form" class="form-horizontal" role="form" action="/login" method= "POST">
                                    
             	        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="login-username" type="text" class="form-control" name="username" value="" placeholder="username">                                        
                        </div>
                                
                        <div style="margin-bottom: 15px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="login-password" type="password" name="password" class="form-control" name="password" placeholder="password">
                        </div>
                        <div class="form-group">
                            <!-- Button -->
                            <div class="col-sm-12 controls">
                                <input type="submit" class="btn btn-lg btn-primary" value="Login">
                            </div>
                        </div>
                   	</form>     

                    <form id="signup-form" action="/user/register" method= "GET">
                        Don't have an account?
                        <input type="submit" class="btn" value="Sign Up">
                    </form>
                </div>                     
           	</div>  
        </div>
    </div>



	<h3>Tweets By Everyone </h3>
	<div id="tweet-list" class="container">
	    <ul>
	      <% REDIS.lrange("latest100",0,100).reverse_each do |tweet| %>
            <% parse = JSON.parse(tweet)%>
	        <!-- This line of code triggers the modal, and should trigger to show the user's profile -->
	        <li data-toggle="modal" data-target="#myModal">
	          <img src="http://lorempixum.com/100/100/nature/1">
	          <p>
	            <a href="/user/<%=parse["user_id"]%>">@<%=parse["handle"] %></a>
							<br><a><%= (parse["created_at"]) %></a>
	          </p>
	          <p> <%= parse["text"] %> </p>
	        </li>
	      <% end %>
	    </ul>
	  </div>

</body>