<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="/bootstrap-rtl.min.css">
	<link rel="stylesheet" href="/bootstrap.min.css">
	<link rel="stylesheet" href="/bootstrap-theme.min.css">
	<link rel="stylesheet" href="/main.css">
	<link rel="stylesheet" href="/login.css">
	<link rel="stylesheet" href="/cards.css">
	<link href="/fonts">
	<script src="/js/bootstrap.js"></script>

		<!-- This is for the modal when you click on a name -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>

<body>


	<h3>Tweets By Everyone </h3>
	<div id="tweet-list" class="container">
	    <ul>
	      <% @global_tweets.each do |elem| %>

	        <!-- This line of code triggers the modal, and should trigger to show the user's profile -->
	        <li data-toggle="modal" data-target="#myModal">
	          <img src="http://lorempixum.com/100/100/nature/1">
	          <p>
	            <!-- this should be the Username that is public -->
	            <a href="/user/<%=elem.user_id%>">Username</a>
	            <!-- this should be the @usertag -->
	            <a href="/user/<%=elem.user_id%>">@<%=User.find(elem.user_id).handle %></a>
	            <a>timestamp</a>
	          </p>
	          <p> <%= elem.text %> </p>
	        </li>
	      <% end %>
	    </ul>
	  </div>

</body>