<H1>
  Sign Up
</H1>

<br>

<form action="/user/register" method= "POST">
Username:	<input type="text" name="username"> <br>
Password: <input type="text" name="password"> <br>
<input type="submit">
</form>