<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="/bootstrap-rtl.min.css">
	<link rel="stylesheet" href="/bootstrap.min.css">
	<link rel="stylesheet" href="/bootstrap-theme.min.css">
	<link rel="stylesheet" href="/main.css">
	<link rel="stylesheet" href="/login.css">
	<link href="/fonts">
	<script src="/js/bootstrap.js"></script>

		<!-- This is for the modal when you click on a name -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
<H1>
  Sign Up
</H1>

<br>

<form action="/user/register" method= "POST">
Username:	<input type="text" name="username"> <br>
Password: <input type="text" name="password"> <br>
<input type="submit">
</form>
</body>