<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="/bootstrap-rtl.min.css">
	<link rel="stylesheet" href="/bootstrap.min.css">
	<link rel="stylesheet" href="/bootstrap-theme.min.css">
	<link rel="stylesheet" href="/main.css">
	<link rel="stylesheet" href="/login.css">
	<link href="/fonts">
	<script src="/js/bootstrap.js"></script>

		<!-- This is for the modal when you click on a name -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
<H1>
  Test Methods
</H1>
<br>
<form method="get" action="/test_tweet">
    <input type="submit" name="submit" value="test_tweet" />
</form>
<br>
<form method="get" action="/test_main">
    <input type="submit" name="submit" value="test_main" />
</form>
<br>
<form method="get" action="/test_follow">
    <input type="submit" name="submit" value="test_follow" />
</form>
<br>
<form method="get" action="/reset">
    <input type="submit" name="submit" value="reset" />
</form>
</body>