html {
    font-size: 62.5%;
}
body {
/*	background-image: url("http://ianlunn.co.uk/wp-content/uploads/2010/11/bg-sky-300x201.png"); */
    color: black;
    font-family: helvetica, arial, sans-serif;
    font-size: 1.4em; /* equiv 14px */
    line-height: 1.5; /* adapt to your design */
}
/* you shall not pass */
div, textarea, table, td, th, code, pre, samp {
    word-wrap: break-word;
}

li { 
	border-bottom: 1px dashed blue;
}

.left {
    float: left;
}
.w50 {
    width: 50%;
}


.content {
	text-align: center;
	padding: 30px;
}


.content form input {
	width: 85%;
}

.profile-box {
	width: 30%;
	float: left;
	text-align: center;
	background-color: #C5CAE9;
	padding-left: 3%;
	padding-bottom: 3%;
	padding-top: 3%;
}

.menu {
	padding-top: 10px;
	width:100%;
	background-color: #89D1DA;
}

.nav-search form input{
	width: 70%;	
}

.nav-search button {
	float: right;
}

#tweet-list-global {
  width:45%;
  float:left;
}

#tweet-list {
  display: block;
  float:left;
  text-align:center;
  width:45%;
}

